<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <div class="title-block">
        <h1><span><%= @family.scientific_name %></span></h1>
        <span><%= @family.common_name %></span>
      </div>
      <% @family.description.split('. ').each do |attr| %>
        <div class="col-md-6 group-attr">
          <div class="fancy-title title-border bottommargin-sm"><h4><span><%= attr.split(': ')[0] %></span></h4></div>
          <%= attr.split(': ')[1] %>
        </div>
      <% end %>

      <% @family.description.split('. ').each do |attr| %>
        <%= attr %>
      <% end %>

    </div>
  </div>
</section>