<% panel_left = options[0] %>
<% panel_right = options[1] %>

<div id="dataCarousel" class="row">

  <div class="row">
    <div class="medium-12 large-12 columns">
      <h2 class="text-center">1. <small>How does option one work, briefly talk about it here...</small></h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">&nbsp;</div>
  </div>


  <div class="row border" id="panels-div">
  
    <div class="medium-1 large-1 columns">&nbsp;</div>

    <a href="#" id="arrowLeft" data-id="<%= panel_left.id %>">
      <div class="medium-4 large-4 columns panel callout radius" style="height: 240px;" id="panel-left">
        <p><%= panel_left.text %></p>
      </div>
    </a>

    <div class="medium-1 large-2 columns text-center"><%= image_tag 'arrow.png' %></div>

    <a href="#" id="arrowRight" data-id="<%= panel_right.id %>">
      <div class="medium-4 large-4 columns panel callout radius" style="height: 240px;" id="panel-right">
        <p><%= panel_right.text %></p>
      </div>
    </a>
    <div class="medium-1 large-1 columns">&nbsp;</div>
  </div>


  <!-- Buttons Start Here -->
  <div class="row border" id="panels-div">

    <div class="medium-1 large-1 columns">&nbsp;</div>

    <div class="medium-4 large-4 columns text-center">
      <a href="#" data-id="<%= panel_left.id %>" id="arrowLeft" class="button radius alert">◀ Continue Here</a>
    </div>

    <div class="medium-1 large-2 columns text-center">&nbsp; &nbsp; &nbsp;</div>

    <div class="medium-4 large-4 columns text-center">
      <a href="#" data-id="<%= panel_right.id %>" id="arrowRight" class="button radius alert">Continue Here ▶</a>
    </div>

    <div class="medium-1 large-1 columns">&nbsp;</div>
  </div>

  <!-- Buttons End Here -->
  <div class="medium-1 large-1 columns">&nbsp;</div>
</div>