<!-- <li>"You have reached
<li><%= child_obj.class.to_s %>
<li><%= child_obj.scientific_name %>
<li><%= child_obj.common_name %>
<li><%= child_obj.description %>
 -->
<section id="content">
  <!-- <div class="content-wrap"> -->
    <div class="container clearfix">


      <div class="col-md-10"><a href="#" data-id="<%= back_id %>" id="arrowStepRight" class="button topmargin-sm button-3d button-rounded button-teal"><i class="icon-circle-arrow-left"></i> Step Back</a></div>

      <div class="col-md-2">
        <% unless obj_type == "Species" %>
          <a id="re-carousel" class="button topmargin-sm button-3d button-rounded button-teal" href="/options/<%= option.id %>/continue"> Continue <i class="icon-circle-arrow-right"></i></a>
        <% end %>
      </div>

      <div class="col-md-12"><br><br></div>

      <div class="title-block col-md-12">
        <h1><span><%= child_obj.scientific_name %></span></h1><span><%= child_obj.common_name %></span>
      </div>

      <% if image %>
        <div class="col-md-<%= col_width %>">
          <img src="<%= image %>">
          <% if image_credit %>
            <div><%= image_credit %></div>
          <% end %>
          <h4><%= status %></h4>
        </div>
      <% end %>


      <% description.split('. ').each do |attr| %>
        <div class="col-md-<%= col_width %> group-attr">
          <div class="fancy-title title-border bottommargin-sm">
          <h4><span><%= attr.split(': ')[0] %></span></h4>
          </div>
          <%= attr.split(': ')[1] %>
        </div>
      <% end %>
    </div>
  <!-- </div> -->

</section>