<ul class="statuses">
  <% tweets.each do |twit| %>
    <li>
      <a href="https://twitter.com/<%= twit.user.name %>/status/<%= twit.id %>"><img class="avatar" src="<%= twit.user.profile_image_url %>" width="48" height="48" alt="avatar"></a>
      <div class="tweetTxt">
        <strong><a href="https://twitter.com/<%= twit.user.name %>/status/<%= twit.id %>"><%= twit.user.name %></a></strong> <div class="date"><%= twit.user.screen_name %></div>
        <%= twit.text %>
        <div class="date"><%= twit.created_at.httpdate %></div>
      </div>
      <div>
        <% twit.media.each do |media| %>
        <div class="clear"></div>
          <a href="https://twitter.com/<%= twit.user.name %>/status/<%= twit.id %>"><img class="th" src="<%= media.media_url %>"></a>
        <% end %>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>